.notify {
	color: #000;
}

.item {
	background: #f2f2f2;
	transition: .3s ease;
	transform: translateY(-100%);
}

.item.opened {
	transform: translateY(0);
}

.item.closing {
	background: red;
	transform: translateY(-100%);
}